HOST_IP=192.168.x.x
NAS_IP=192.168.x.x

# City name or "lat,lon"
WEATHER_LOCATION=Christchurch, NZ

PIHOLE_API_TOKEN=
RADARR_API_KEY=
SONARR_API_KEY=

QBIT_USER=admin
QBIT_PASS=

GLANCES_NAS_USER=
GLANCES_NAS_PASS=