# Timezone
TZ=Pacific/Auckland

HOST_IP=

# City name or "lat,lon"
WEATHER_LOCATION=

# API Keys
SPEEDTEST_TRACKER_API_TOKEN=
SEERR_API_KEY=

# URLs
MAIL_URL=
CLOUD_URL=
BUDGET_URL=
BANKING_URL=
HOME_URL=

JELLYFIN_URL=
RADARR_URL=
SONARR_URL=
TORRENT_URL=
SEERR_URL=
JELLYSTAT_URL=

SPEEDTEST_URL=
ROUTER_URL=
DOMAINS_URL=
DNS_URL=
MONITOR_URL=